@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ddd;
}

.container {
  max-width: 1150px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9450980392);
  font-size: 15px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
}

h4 {
  font-weight: 600;
}

p {
  font-size: 17px;
}

.mt_120 {
  margin-top: 120px;
}

.mb_120 {
  margin-bottom: 120px;
}

.header a {
  font-weight: 500;
  color: rgba(35, 35, 35, 0.8588235294);
  transition: all 0.5s;
}
.header a:hover {
  color: #1dc68c;
}
.header .register {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #1dc68c;
  padding: 0 10px;
  height: 35px;
  width: 100px;
  color: #fff;
  background-color: #1dc68c;
  background-color: transparent;
  color: rgba(35, 35, 35, 0.8588235294);
  border: 1px solid rgba(35, 35, 35, 0.8588235294);
}
.header .login {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #1dc68c;
  padding: 0 10px;
  height: 35px;
  width: 100px;
  color: #fff;
  background-color: #1dc68c;
}

.main__banner {
  background-image: url("../assets/images/bg-wave-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 210px;
}
.main__banner_info a {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #1dc68c;
  padding: 0 10px;
  margin-top: 50px;
}
.main__banner_inputBox {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.main__banner_inputBox input {
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #1dc68c;
  height: 45px;
  outline: none;
}
.main__banner_inputBox input:focus {
  border: 2px solid #1dc68c;
}
.main__banner_inputBox button {
  max-width: 220px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #1dc68c;
  padding: 0 10px;
  background-color: #1dc68c;
  border: none;
  color: #fff;
  height: 45px;
  border-radius: 0;
}
.main__banner_inputBox button img {
  width: 20px;
}

.contact__banner {
  background-image: url(../assets/images/bg-down-curve.svg);
  background-repeat: no-repeat;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.our_services .service_item p {
  font-weight: 500;
}
.our_services .service_item .service_img {
  width: 150px;
  height: 150px;
  border-radius: 35px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_services .service_item .service_img img {
  transform: rotate(-45deg);
  width: 80px;
  height: 80px;
}

.service_area a {
  font-weight: 600;
  color: #1dc68c;
}

.calculator label {
  font-weight: 500;
  display: block;
}
.calculator select,
.calculator input {
  padding: 7px 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 7px;
  background-color: #ddd;
}
.calculator select:focus,
.calculator input:focus {
  border: 1px solid #1dc68c;
}
.calculator input {
  border: 1px solid rgba(35, 35, 35, 0.8588235294);
}

.footer {
  background-image: url(../assets/images/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.footer h5 {
  color: #fff;
  font-weight: 600;
}
.footer a {
  color: #fff;
  font-weight: 500;
  line-height: 40px;
}
.footer .newsletter {
  position: relative;
}
.footer .newsletter input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
}
.footer .newsletter input::-moz-placeholder {
  color: #fff;
}
.footer .newsletter input::placeholder {
  color: #fff;
}
.footer .newsletter input:focus {
  outline: 1px solid #fff;
}
.footer .newsletter button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
}

.contact__form input,
.contact__form textarea {
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #1dc68c;
  height: 45px;
  outline: none;
  border: none;
  background-color: #fff;
  margin: 10px 0;
}
.contact__form input:focus,
.contact__form textarea:focus {
  border: 2px solid #1dc68c;
}
.contact__form textarea {
  min-height: 150px;
}
.contact__form button {
  background-color: #1dc68c;
  border: none;
  width: 100%;
  height: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.contact__form .contact__info h4 {
  background-color: #1dc68c;
  display: inline-block;
  padding: 2px 15px;
  border-radius: 50px;
  color: #fff;
}
.contact__form .contact__info img {
  width: 20px;
}

@media (max-width: 972px) {
  h2 {
    font-size: 26px;
    font-weight: 700;
  }
  .mobile_menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    min-height: 100vh;
    padding: 10px;
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .main__banner_inputBox {
    width: 90%;
  }
  .main__banner_info a {
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
  }
  .main__banner_img {
    width: 70%;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .main__banner_inputBox button {
    max-width: 220px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #1dc68c;
    padding: 0 10px;
    background-color: #1dc68c;
    border: none;
    color: #fff;
    height: 45px;
    border-radius: 0;
    width: 150px;
  }
  .main__banner_inputBox button img {
    width: 20px;
  }
  .our_services .service_item .service_img {
    width: 100px;
    height: 100px;
  }
  .our_services .service_item .service_img img {
    transform: rotate(-45deg);
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */